<header>
    <h1>{{title}}</h1>
    <div class="nav">
        <a href="/">Weather</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
        <a href="/error">Error</a>
        <a href="/help/error">Help Error</a>
    </div>
</header>